@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@model SignUpModel;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign Up</title>

    <link rel="stylesheet" href="~/css/Auth/Auth.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/Auth/latis.css"/>
    <script src="~/AngularJS/angular.min.js"></script>
    <script src="~/AngularJS/angular-filter.js"></script>
    <script src="~/AngularJS/Auth/Auth.js"></script>
    
</head>
<body ng-app="app" ng-controller="ctrl">
    <dialog id="my_modal_1" class="my-modal">
        <div class="modal-content" style="padding-bottom: 0px; padding-top: 0px">
            <div class="modal-header" style="display:flex">
                <h5 style="margin-bottom: 0px">Check your account</h5>
                <span class="close-modal" onclick="document.getElementById('my_modal_1').style.display = 'none'">&times;</span>
            </div>
            <div class="modal-body">
                <div style="padding-bottom: 2%">
                    <label class="control-label">Type your username</label>
                </div>
                
                <div>
                    <input type="text" placeholder="username" style="border-radius: 10px; text-align:center; width: 100%" ng-model="ResetPassword_Username"/>
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="GetAccountByUsername()">Check Account</button>
                <button class="btn btn-danger" onclick="document.getElementById('my_modal_1').style.display = 'none'">Close</button>
            </div>
            
        </div>
    </dialog>

    <dialog id="reset_psw_modal" class="my-modal">
        <div class="modal-content" style="padding-bottom: 0px; padding-top: 0px">
            <div class="modal-header" style="display:flex">
                <h5 style="margin-bottom: 0px">Reset your password</h5>
                <span class="close-modal" onclick="document.getElementById('reset_psw_modal').style.display = 'none'">&times;</span>
            </div>
            <div class="modal-body">
                <div style="padding-bottom: 2%">
                    <label class="control-label">Type your new password</label>
                </div>

                <div>
                    <input id="reset_psw_field" ng-focus="OnInputFocus()" ng-blur="OffInputFocus()" class="reset-password" ng-model="ResetPassword" ng-keyup="CheckPassword()" type="password" placeholder="password"/>
                    <div id="message1" style="padding-left: 25%; padding-top: 5px">
                        <h6>Password must contain the following:</h6>
                        <p id="letter1" class="invalid">A <b>lowercase</b> letter</p>
                        <p id="capital1" class="invalid">A <b>capital (uppercase)</b> letter</p>
                        <p id="number1" class="invalid">A <b>number</b></p>
                        <p id="length1" class="invalid">Minimum <b>8 characters</b></p>
                    </div>
                    <br /><br />
                    <input type="password" placeholder="confirm password" class="reset-password" ng-model="Confirm_Password_Reset" ng-keyup="MatchPassword()" ng-focus="ConfirmPswFocus()" ng-blur="ConfirmPswBlur()"/>
                    <span id="password_mismatch_alert"></span>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="UpdatePassword()">Reset password</button>
                <button class="btn btn-danger" onclick="document.getElementById('reset_psw_modal').style.display = 'none'">Close</button>
            </div>

        </div>
    </dialog>


    <div class="row" style="justify-content:center">
        <div class="col-5">
            <div class="form-structor">
                <div class="signup">
                    <h2 class="form-title" id="signup" ng-click="handleSignUp()">
                        Sign up
                    </h2>
                    <div class="form-holder">
                        <input type="text" class="input" placeholder="Username" ng-model="SignUp_Username" />
                        <div id="password_field" style="display: flex">
                            <input type="password" class="input" id="psw" placeholder="Password" ng-model="SignUp_Password" />
                            <svg id="svg1" style="padding-left:0px; padding-right: 0px; width: 50%" class="input close" viewBox="0 0 100 100">
                                <path id="top-eye-part" d="M10,50 Q50,-10 90,50" fill="none" stroke-width="5"></path>
                                <path id="bottom-eye-part" d="M10,50 Q50,110 90,50" fill="none" stroke-width="5"></path>
                                <circle cx="50" cy="50" r="10" fill="black"></circle>
                            </svg>
                        </div>

                        <div id="message">
                            <h6>Password must contain the following:</h6>
                            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                            <p id="number" class="invalid">A <b>number</b></p>
                            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                        </div>
                        <div style="display: flex;">
                            <input type="password" id="confirm_psw" ng-model="Confirm_Password" class="input" placeholder="Confirm Password" />
                            <svg id="svg2" style="padding-left:0px; padding-right: 0px; width: 50%" class="input close" viewBox="0 0 100 100">
                                <path id="top-eye-part" d="M10,50 Q50,-10 90,50" fill="none" stroke-width="5"></path>
                                <path id="bottom-eye-part" d="M10,50 Q50,110 90,50" fill="none" stroke-width="5"></path>
                                <circle cx="50" cy="50" r="10" fill="black"></circle>
                            </svg>
                        </div>

                        <span id="wrong_psw_alert"></span>
                    </div>



                    <button class="submit-btn" id="submit" ng-click="SignUp()">Sign up</button>
                </div>



                <div class="login slide-up">
                    <div class="center">
                        <h2 class="form-title" id="login" ng-click="handleLogin()">
                            Log in
                        </h2>
                        <div class="form-holder">
                            <input type="text" class="input" placeholder="Username" ng-model="login_username" />
                            <input type="password" class="input" placeholder="Password" ng-model="login_password" />
                        </div>
                        <button class="submit-btn" ng-click="GetAccountID()">Log in</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card-auth">
                <div class="container">
                    <div id="formlogin" style="padding-top: 30%">
                        <div class="row" style="justify-content: center">
                            <h5 class="rubik mt-3" style="text-align:center">Select the account type !</h5>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <label for="customRadio" class="radio siswa">
                                    <input type="radio" name="siswatutor" value="siswa" id="customRadio" class="tutorsiswa" checked ng-model="AccountType">
                                    <div class="card-input">
                                        <img class="img-fluid" src="~/img/Siswa.png" alt="Siswa">
                                        <h6 class="text-center rubik mt-2">Student</h6>
                                        <img class="img-fluid checked" width="60" src="~/img/checked.png" hidden>
                                    </div>
                                </label>
                            </div>
                            <div class="col">
                                <label for="customRadio1" class="radio tutor">
                                    <input type="radio" name="siswatutor" value="tutor" id="customRadio1" class="tutorsiswa" ng-model="AccountType">
                                    <div class="card-input">
                                        <img class="img-fluid" src="~/img/Guru.png" alt="Tutor">
                                        <h6 class="text-center rubik mt-2">Teacher</h6>
                                        <img class="img-fluid checked" width="60" src="~/img/checked.png" hidden>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="text-center mt-3 nunito">
                            <h6 style="font-weight: 600;">Forgot Password ? <a href="#" class="a-join" id="btn-reset" ng-click="ShowModal()">Reset password</a></h6>
                        </div>
                        <div class="mt-4" id="pesan-login">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    





    @*<script src="~/js/Auth/Auth.js"></script>*@

</body>

@*<script src="~/js/Auth/Auth.js"></script>*@

</html>