@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign Up</title>

    <link rel="stylesheet" href="~/css/Auth/Auth.css"/>
    <script src="~/AngularJS/angular.min.js"></script>
    <script src="~/AngularJS/angular-filter.js"></script>
    <script src="~/AngularJS/Auth/Auth.js"></script>
    
</head>
<body ng-app="app" ng-controller="ctrl">
    <div class="form-structor">
        <div class="signup">
            <h2 class="form-title" id="signup" ng-click="handleSignUp()">
                Sign up
            </h2>
            <div class="form-holder">
                <input type="text" class="input" placeholder="Name" />
                <input type="email" class="input" placeholder="Email" />
                <input type="password" class="input" placeholder="Password" />
            </div>
            <button class="submit-btn">Sign up</button>
        </div>
        <div class="login slide-up">
            <div class="center">
                <h2 class="form-title" id="login" ng-click="handleLogin()">
                    Log in
                </h2>
                <div class="form-holder">
                    <input type="text" class="input" placeholder="Username" ng-model="login_username"/>
                    <input type="password" class="input" placeholder="Password" ng-model="login_password"/>
                </div>
                <button class="submit-btn" ng-click="GetAccountID()">Log in</button>
            </div>
        </div>
    </div>


</body>

@*<script src="~/js/Auth/Auth.js"></script>*@

</html>