@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@model SignUpModel;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign Up</title>

    <link rel="stylesheet" href="~/css/Auth/Auth.css"/>
    <script src="~/AngularJS/angular.min.js"></script>
    <script src="~/AngularJS/angular-filter.js"></script>
    <script src="~/AngularJS/Auth/Auth.js"></script>
    
</head>
<body ng-app="app" ng-controller="ctrl">
    <div class="form-structor">
        <div class="signup">
            <h2 class="form-title" id="signup" ng-click="handleSignUp()">
                Sign up
            </h2>
            <div class="form-holder">
                <input type="text" class="input" placeholder="Username" />
                <input type="password" class="input" id="psw" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" />
                <div id="message">
                    <h6>Password must contain the following:</h6>
                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                    <p id="number" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>
                <input type="password" id="confirm_psw" class="input" placeholder="Confirm Password" onkeyup="validate_password()"/>
                <span id="wrong_psw_alert"></span>
            </div>



            <button class="submit-btn" id="submit">Sign up</button>
        </div>



        <div class="login slide-up">
            <div class="center">
                <h2 class="form-title" id="login" ng-click="handleLogin()">
                    Log in
                </h2>
                <div class="form-holder">
                    <input type="text" class="input" placeholder="Username" ng-model="login_username"/>
                    <input type="password" class="input" placeholder="Password" ng-model="login_password"/>
                </div>
                <button class="submit-btn" ng-click="GetAccountID()">Log in</button>
            </div>
        </div>
    </div>





    <script src="~/js/Auth/Auth.js"></script>

</body>

@*<script src="~/js/Auth/Auth.js"></script>*@

</html>