@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>

    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="~/css/Course.css"/>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/AngularJS/angular.min.js"></script>
    <script src="~/AngularJS/angular-filter.js"></script>
    <script src="~/AngularJS/angular-route.js"></script>
    <script src="~/AngularJS/Course.js"></script>

</head>
<body ng-app="app" ng-controller="CourseController">

    <header data-bs-theme="dark">
        <nav class="navbar navbar-dark fixed-top bg-dark" aria-label="Dark offcanvas navbar">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <p class="navbar-brand" href="#" ng-model="userName">{{userName}}</p>

                <div style="width: auto" class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">My E-Learning App</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <hr style="color:white; margin-top: 0px; margin-bottom: 0px" />
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="\Auth">
                                    <i class="bx bx-home-alt-2" style="font-size: 1.25rem; color: white"></i>
                                    <span style="padding-left: 5%">Halaman Awal</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="\Profile">
                                    <i class="bx bx-user" style="font-size: 1.25rem; color: white"></i>
                                    <span style="padding-left: 5%">Profil Anda</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <i class="bx bx-book-open" style="font-size: 1.25rem; color: white"></i>
                                    <span style="padding-left: 5%">Mulai Belajar</span>
                                </a>
                            </li>
                        </ul>
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <br /><br /><br /><br /><br /><br />
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Cari" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Cari</button>
                        </form>
                    </div>
                </div>

            </div>
        </nav>


    </header>

    <main>
        <div class="row" style="padding-top: 5.5%">
            <div class="col-md-4">
                <div class="container" >
                    <div class="card">
                        <img src="~/img/download.jpg" width="100%" height="200" />
                        

                        <div class="card-body">
                            <h5 style="cursor: pointer;" class="card-title" ng-click="ToggleAccordion('physics')">Fisika</h5>
                            <hr style="margin-top: 0px; margin-bottom: 2.5%"/>
                            <div id="physics-panel" class="panel" style="padding-left: 0px">
                                <ul>
                                    <li>
                                        @*<a class="grade-redirector" href="Course/Physics/10">Fisika Kelas 10</a>*@
                                        <a style="margin-bottom: 0px;" class="grade-redirector" ng-click="ToggleCurricullum('physics', 10)">Fisika Kelas 10</a>
                                        <div id="physics-10-panel" class="curricullum" style="padding-left: 0px">
                                            @*<a class="anchor">Fisika Kelas 10 Kurikulum 2013</a>*@
                                            <a class="grade-redirector" href="Course/Physics/K13/10">Fisika Kelas 10 Kurikulum 2013</a>
                                            <br />
                                            <a class="grade-redirector" href="Course/Physics/KTSP/10">Fisika Kelas 10 Kurikulum KTSP</a>
                                        </div>
                                    </li>
                                    <li>
                                        @*<a class="grade-redirector" href="Course/Physics/11">Fisika Kelas 11</a>*@
                                        <p style="margin-bottom: 0px;" class="grade-redirector" ng-click="ToggleCurricullum('physics', 11)">Fisika Kelas 11</p>
                                        <div id="physics-11-panel" class="curricullum" style="padding-left: 0px">
                                            <a class="grade-redirector" href="Course/Physics/K13/11">Fisika Kelas 11 Kurikulum 2013</a>
                                            <br />
                                            <a class="grade-redirector" href="Course/Physics/KTSP/11">Fisika Kelas 11 Kurikulum KTSP</a>
                                        </div>
                                    </li>
                                    <li>
                                        @*<a class="grade-redirector" href="Course/Physics/12">Fisika Kelas 12</a>*@
                                        <p style="margin-bottom: 0px;" class="grade-redirector" ng-click="ToggleCurricullum('physics', 12)">Fisika Kelas 12</p>
                                        <div id="physics-12-panel" class="curricullum" style="padding-left: 0px">
                                            <a class="grade-redirector" href="Course/Physics/K13/12">Fisika Kelas 12 Kurikulum 2013</a>
                                            <br />
                                            <a class="grade-redirector" href="Course/Physics/KTSP/12">Fisika Kelas 12 Kurikulum KTSP</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <img src="~/img/math.jpg" width="100%" height="200" />

                        <div class="card-body">
                            <h5 style="cursor: pointer" class="card-title" ng-click="ToggleAccordion('math')">Matematika</h5>
                            <hr style="margin-top: 0px; margin-bottom: 2.5%" />
                            <div id="math-panel" class="panel" style="padding-left: 0px">
                                <ul>
                                    <li>
                                        @*<a class="grade-redirector" href="Course/Math/10">Matematika Kelas 10</a>*@
                                        <a style="margin-bottom: 0px;" class="grade-redirector" ng-click="ToggleCurricullum('math', 10)">Matematika Kelas 10</a>
                                        <div id="math-10-panel" class="curricullum" style="padding-left: 0px">
                                            @*<a class="anchor">Fisika Kelas 10 Kurikulum 2013</a>*@
                                            <a class="grade-redirector">Matematika Kelas 10 Kurikulum 2013</a>
                                            <br />
                                            <a class="grade-redirector">Matematika Kelas 10 Kurikulum KTSP</a>
                                        </div>
                                    </li>
                                    <li>
                                        @*<a class="grade-redirector" href="Course/Math/11">Matematika Kelas 11</a>*@
                                        <a style="margin-bottom: 0px;" class="grade-redirector" ng-click="ToggleCurricullum('math', 11)">Matematika Kelas 10</a>
                                        <div id="math-11-panel" class="curricullum" style="padding-left: 0px">
                                            @*<a class="anchor">Fisika Kelas 10 Kurikulum 2013</a>*@
                                            <a class="grade-redirector">Matematika Kelas 11 Kurikulum 2013</a>
                                            <br />
                                            <a class="grade-redirector">Matematika Kelas 11 Kurikulum KTSP</a>
                                        </div>
                                    </li>
                                    <li>
                                        @*<a class="grade-redirector" href="Course/Math/12">Matematika Kelas 12</a>*@
                                        <a style="margin-bottom: 0px;" class="grade-redirector" ng-click="ToggleCurricullum('math', 12)">Matematika Kelas 10</a>
                                        <div id="math-12-panel" class="curricullum" style="padding-left: 0px">
                                            @*<a class="anchor">Fisika Kelas 10 Kurikulum 2013</a>*@
                                            <a class="grade-redirector">Matematika Kelas 12 Kurikulum 2013</a>
                                            <br />
                                            <a class="grade-redirector">Matematika Kelas 12 Kurikulum KTSP</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <img src="~/img/chemistry.jpg" width="100%" height="200" />
                        <div class="card-body">
                            <h5 style="cursor: pointer" class="card-title" ng-click="ToggleAccordion('chemistry')">Kimia</h5>
                            <hr style="margin-top: 0px; margin-bottom: 2.5%" />
                            <div id="chemistry-panel" class="panel" style="padding-left: 0px">
                                <ul>
                                    <li>
                                        @*<a class="grade-redirector" href="Course/Chemistry/10">Kimia Kelas 10</a>*@
                                        <a style="margin-bottom: 0px;" class="grade-redirector" ng-click="ToggleCurricullum('chemistry', 10)">Kimia Kelas 10</a>
                                        <div id="chemistry-10-panel" class="curricullum" style="padding-left: 0px">
                                            @*<a class="anchor">Fisika Kelas 10 Kurikulum 2013</a>*@
                                            <a class="grade-redirector">Kimia Kelas 10 Kurikulum 2013</a>
                                            <br />
                                            <a class="grade-redirector">Kimia Kelas 10 Kurikulum KTSP</a>
                                        </div>
                                    </li>
                                    <li>
                                        @*<a class="grade-redirector" href="Course/Chemistry/11">Kimia Kelas 11</a>*@
                                        <a style="margin-bottom: 0px;" class="grade-redirector" ng-click="ToggleCurricullum('chemistry', 11)">Kimia Kelas 11</a>
                                        <div id="chemistry-11-panel" class="curricullum" style="padding-left: 0px">
                                            @*<a class="anchor">Fisika Kelas 10 Kurikulum 2013</a>*@
                                            <a class="grade-redirector">Kimia Kelas 11 Kurikulum 2013</a>
                                            <br />
                                            <a class="grade-redirector">Kimia Kelas 11 Kurikulum KTSP</a>
                                        </div>
                                    </li>
                                    <li>
                                        @*<a class="grade-redirector" href="Course/Chemistry/12">Kimia Kelas 12</a>*@
                                        <a style="margin-bottom: 0px;" class="grade-redirector" ng-click="ToggleCurricullum('chemistry', 12)">Kimia Kelas 10</a>
                                        <div id="chemistry-12-panel" class="curricullum" style="padding-left: 0px">
                                            @*<a class="anchor">Fisika Kelas 10 Kurikulum 2013</a>*@
                                            <a class="grade-redirector">Kimia Kelas 12 Kurikulum 2013</a>
                                            <br />
                                            <a class="grade-redirector">Kimia Kelas 12 Kurikulum KTSP</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>