@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="~/css/Auth/Auth.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Profile/Profile.css" />

@*    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Profile/Profile.css"/>*@

    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/AngularJS/angular.min.js"></script>
    <script src="~/AngularJS/angular-filter.js"></script>
    <script src="~/AngularJS/sharedService.js"></script>
    <script src="~/AngularJS/Profile.js"></script>

    <script>
        var token = sessionStorage.getItem('LoginToken');
        if ((token == null) || (token == undefined) || (token == '')) {
            /*location.href = '/Home';*/
            alert('Anda harus login terlebih dahulu');
            location.href = '/';
        }
    </script>
    
</head>
<body ng-app="app" ng-controller="ctrl">
    <dialog id="popUp_Provinsi" class="my-modal">
        <div class="modal-content" style="padding-bottom: 0px; padding-top: 0px">
            <div class="modal-header" style="display:flex">
                <h5 style="margin-bottom: 0px">Pilih Provinsi</h5>
                <span class="close-modal" ng-click="ClosePopUp_Provinsi()">&times;</span>
            </div>
            <div class="modal-body">
                <div style="padding-bottom: 2%">
                    <label class="control-label">Cari Provinsi</label>
                </div>
                <div style="padding-bottom: 2%">
                    <input type="text" placeholder="Masukkan nama provinsi" style="border-radius: 10px; text-align:center; width: 100%" ng-model="test" ng-keyup="FilterProvinsi()"/>
                </div>
                <div>
                    <table style="width: 100%">
                        <thead style="border: 1px solid black; background-color:red; color:white">
                            <tr>
                                <th style="width: 10%; text-align: center; border: solid 1px black">No.</th>
                                <th style="width: 80%; text-align: center; border: solid 1px black">Provinsi</th>
                                <th style="width: 10%; text-align: center; border: solid 1px black"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="i in listProvinsi">
                                <td style="border: solid 1px black; text-align: center;">{{$index + 1}}</td>
                                <td style="border: solid 1px black; text-align: center;">{{i}}</td>
                                <td style="border: solid 1px black; text-align: center;">
                                    <a style="color: blue; cursor:pointer" ng-click="OnSelectedProvinsi(i)">SELECT</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </dialog>

    <dialog id="popUp_Kabupaten" class="my-modal">
        <div class="modal-content" style="padding-bottom: 0px; padding-top: 0px">
            <div class="modal-header" style="display:flex">
                <h5 style="margin-bottom: 0px">Pilih Kabupaten {{selectedProvinsi}}</h5>
                <span class="close-modal" ng-click="ClosePopUp_Kabupaten()">&times;</span>
            </div>
            <div class="modal-body">
                <div style="padding-bottom: 2%">
                    <label class="control-label">Cari Kabupaten</label>
                </div>
                <div style="padding-bottom: 2%">
                    <input type="text" placeholder="Masukkan nama kabupaten" style="border-radius: 10px; text-align:center; width: 100%" ng-model="test" ng-keyup="FilterKabupaten()" />
                </div>
                <div>
                    <table style="width: 100%">
                        <thead style="border: 1px solid black; background-color:red; color:white">
                            <tr>
                                <th style="width: 10%; text-align: center; border: solid 1px black">No.</th>
                                <th style="width: 80%; text-align: center; border: solid 1px black">Provinsi</th>
                                <th style="width: 10%; text-align: center; border: solid 1px black"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="i in listKabupaten">
                                <td style="border: solid 1px black; text-align: center;">{{$index + 1}}</td>
                                <td style="border: solid 1px black; text-align: center;">{{i}}</td>
                                <td style="border: solid 1px black; text-align: center;">
                                    <a style="color: blue; cursor:pointer" ng-click="OnSelectedKabupaten(i)">SELECT</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </dialog>

    <dialog id="popUp_Kecamatan" class="my-modal">
        <div class="modal-content" style="padding-bottom: 0px; padding-top: 0px">
            <div class="modal-header" style="display:flex">
                <h5 style="margin-bottom: 0px">Pilih Kecamatan ({{selectedProvinsi}}, {{selectedKabupaten}})</h5>
                <span class="close-modal" ng-click="ClosePopUP_Kecamatan()">&times;</span>
            </div>
            <div class="modal-body">
                <div style="padding-bottom: 2%">
                    <label class="control-label">Cari Kecamatan</label>
                </div>
                <div style="padding-bottom: 2%">
                    <input type="text" placeholder="Masukkan nama kecamatan" style="border-radius: 10px; text-align:center; width: 100%" ng-model="test" ng-keyup="FilterKecamatan()" />
                </div>
                <div>
                    <table style="width: 100%">
                        <thead style="border: 1px solid black; background-color:red; color:white">
                            <tr>
                                <th style="width: 10%; text-align: center; border: solid 1px black">No.</th>
                                <th style="width: 80%; text-align: center; border: solid 1px black">Provinsi</th>
                                <th style="width: 10%; text-align: center; border: solid 1px black"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="i in listKecamatan">
                                <td style="border: solid 1px black; text-align: center;">{{$index + 1}}</td>
                                <td style="border: solid 1px black; text-align: center;">{{i}}</td>
                                <td style="border: solid 1px black; text-align: center;">
                                    <a style="color: blue; cursor:pointer" ng-click="OnSelectedKecamatan(i)">SELECT</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </dialog>

    <dialog id="popUp_Desa" class="my-modal">
        <div class="modal-content" style="padding-bottom: 0px; padding-top: 0px">
            <div class="modal-header" style="display:flex">
                <h5 style="margin-bottom: 0px">Pilih Desa/Kelurahan ({{selectedProvinsi}}, {{selectedKabupaten}}, {{selectedKecamatan}})</h5>
                <span class="close-modal" ng-click="ClosePopUp_Desa()">&times;</span>
            </div>
            <div class="modal-body">
                <div style="padding-bottom: 2%">
                    <label class="control-label">Cari Desa / Kelurahan</label>
                </div>
                <div style="padding-bottom: 2%">
                    <input type="text" placeholder="Masukkan nama desa / kelurahan" style="border-radius: 10px; text-align:center; width: 100%" ng-model="test" ng-keyup="FilterDesa()" />
                </div>
                <div>
                    <table style="width: 100%">
                        <thead style="border: 1px solid black; background-color:red; color:white">
                            <tr>
                                <th style="width: 10%; text-align: center; border: solid 1px black">No.</th>
                                <th style="width: 80%; text-align: center; border: solid 1px black">Provinsi</th>
                                <th style="width: 10%; text-align: center; border: solid 1px black"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="i in listDesa">
                                <td style="border: solid 1px black; text-align: center;">{{$index + 1}}</td>
                                <td style="border: solid 1px black; text-align: center;">{{i}}</td>
                                <td style="border: solid 1px black; text-align: center;">
                                    <a style="color: blue; cursor:pointer" ng-click="OnSelectedDesa(i)">SELECT</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </dialog>


    <div class="container rounded bg-white">
        <div class="row" style="justify-content:center">
            <div class="col-md-6" style="padding-bottom: 50px">
                <div class="p-3 py-5">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px" src="~/img/profile.jpg" style="margin-top: 0px !important">
                        <span class="font-weight-bold">Edogaru</span>
                        <span class="text-black-50">odegaru@gmail.com</span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profil Anda</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Nama</label>
                            <input type="text" class="form-control" placeholder="masukkan nama Anda" ng-model="namaPengguna">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Nomor ponsel</label>
                            <input type="text" class="form-control" placeholder="masukkan nomor ponsel" ng-model="noTelpPengguna">
                        </div>
                        <div class="col-md-12">
                            <label style="padding-top: 10px">Alamat</label>
                        </div>
@*                        <div class="col-md-12">
                            <label class="labels">Provinsi</label>
                            <input type="text" class="form-control" ng-model="selectedProvinsi" readonly/>
                            <input type="text" class="form-control" placeholder="pilih provinsi" value="">
                            <select class="form-control" ng-model="selectedProvinsi" ng-change="OnSelectedProvinsi(selectedProvinsi)">
                                <option value="" selected disabled>pilih provinsi</option>
                                <option ng-repeat="i in listProvinsi" value="{{i}}">{{i}}</option>
                            </select>
                            <select class="form-control" ng-model="selectedProvinsi">
                                <option value="" selected disabled>pilih provinsi</option>
                                <option ng-repeat="i in listProvinsi" value="{{i}}">{{i}}</option>
                            </select>
                        </div>*@

                        <div class="col-12">
                            <div class="row">
                                <label class="labels">Provinsi</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Pilih provinsi dari PopUp" ng-model="selectedProvinsi" readonly>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary" ng-click="DisplayPopUpProvinsi()">PopUp</button>
                                </div>
                            </div>
                        </div>




@*                        <div class="col-md-12">
                            <label class="labels">Kabupaten / Kota</label>
                            <input type="text" class="form-control" ng-model="selectedKabupaten" readonly/>
                            <input type="text" class="form-control" placeholder="pilih kabupaten / kota" value="">
                            <select class="form-control" ng-model="selectedKabupaten" ng-change="OnSelectedKabupaten(selectedProvinsi, selectedKabupaten)">
                                <option value="" selected disabled>pilih kabupaten / kota</option>
                                <option ng-repeat="i in listKabupaten" value="{{i}}">{{i}}</option>
                            </select>
                            <select class="form-control" ng-model="selectedKabupaten">
                                <option value="" selected disabled>pilih kabupaten / kota</option>
                                <option ng-repeat="i in listKabupaten" value="{{i}}">{{i}}</option>
                            </select>
                        </div>*@


                        <div class="col-12">
                            <div class="row">
                                <label class="labels">Kabupaten</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Pilih kabupaten dari PopUp" ng-model="selectedKabupaten" readonly>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary" ng-click="DisplayPopUpKabupaten()">PopUp</button>
                                </div>
                            </div>
                        </div>


@*                        <div class="col-md-12">
                            <label class="labels">Kecamatan</label>
                            <input type="text" class="form-control" ng-model="selectedKecamatan" readonly/>
                            <input type="text" class="form-control" placeholder="pilih kecamatan" value="">
                            <select class="form-control" ng-model="selectedKecamatan" ng-change="OnSelectedKecamatan(selectedProvinsi, selectedKabupaten, selectedKecamatan)">
                                <option value="" selected disabled>pilih kecamatan</option>
                                <option ng-repeat="i in listKecamatan" value="{{i}}">{{i}}</option>
                            </select>
                            <select class="form-control" ng-model="selectedKecamatan">
                                <option value="" selected disabled>pilih kecamatan</option>
                                <option ng-repeat="i in listKecamatan" value="{{i}}">{{i}}</option>
                            </select>
                        </div>*@



                        <div class="col-12">
                            <div class="row">
                                <label class="labels">Kecamatan</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Pilih kecamatan dari PopUp" ng-model="selectedKecamatan" readonly>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary" ng-click="DisplayPopUpKecamatan()">PopUp</button>
                                </div>
                            </div>
                        </div>


@*                        <div class="col-md-12">
                            <label class="labels">Desa / Kelurahan</label>
                            <input type="text" class="form-control" ng-model="selectedDesa" />
                            <input type="text" class="form-control" placeholder="pilih desa / kelurahan" value="">
                            <select class="form-control" ng-model="selectedDesa">
                                <option value="" selected disabled>pilih desa / kelurahan</option>
                                <option ng-repeat="i in listDesa" value="{{i}}">{{i}}</option>
                            </select>
                        </div>*@

                        <div class="col-12">
                            <div class="row">
                                <label class="labels">Desa / Kelurahan</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Pilih desa / kelurahan dari PopUp" ng-model="selectedDesa" readonly>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary" ng-click="DisplayPopUpDesa()">PopUp</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="labels">Alamat Email</label>
                            <input type="text" class="form-control" placeholder="masukkan alamat email" ng-model="emailPengguna">
                        </div>

                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit" ng-click="SaveProfile()">Save Profile</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>