@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Profile/Profile.css"/>

    <script src="~/AngularJS/angular.min.js"></script>
    <script src="~/AngularJS/angular-filter.js"></script>
    <script src="~/AngularJS/sharedService.js"></script>
    <script src="~/AngularJS/Profile.js"></script>
    
</head>
<body ng-app="app" ng-controller="ctrl">
    <div class="container rounded bg-white">
        <div class="row" style="justify-content:center">
            <div class="col-md-6" style="padding-bottom: 50px">
                <div class="p-3 py-5">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px" src="~/img/profile.jpg" style="margin-top: 0px !important">
                        <span class="font-weight-bold">Edogaru</span>
                        <span class="text-black-50">odegaru@gmail.com</span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profil Anda</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Nama</label>
                            <input type="text" class="form-control" placeholder="masukkan nama Anda" ng-model="namaPengguna">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Nomor ponsel</label>
                            <input type="text" class="form-control" placeholder="masukkan nomor ponsel" ng-model="noTelpPengguna">
                        </div>
                        <div class="col-md-12">
                            <label style="padding-top: 10px">Alamat</label>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Provinsi</label>
                            @*<input type="text" class="form-control" placeholder="pilih provinsi" value="">*@
                            <select class="form-control" ng-model="selectedProvinsi" ng-change="OnSelectedProvinsi(selectedProvinsi)">
                                <option value="" selected disabled>pilih provinsi</option>
                                <option ng-repeat="i in listProvinsi" value="{{i}}">{{i}}</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Kabupaten / Kota</label>
                            @*<input type="text" class="form-control" placeholder="pilih kabupaten / kota" value="">*@
                            <select class="form-control" ng-model="selectedKabupaten" ng-change="OnSelectedKabupaten(selectedProvinsi, selectedKabupaten)">
                                <option value="" selected disabled>pilih kabupaten / kota</option>
                                <option ng-repeat="i in listKabupaten" value="{{i}}">{{i}}</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Kecamatan</label>
                            @*<input type="text" class="form-control" placeholder="pilih kecamatan" value="">*@
                            <select class="form-control" ng-model="selectedKecamatan" ng-change="OnSelectedKecamatan(selectedProvinsi, selectedKabupaten, selectedKecamatan)">
                                <option value="" selected disabled>pilih kecamatan</option>
                                <option ng-repeat="i in listKecamatan" value="{{i}}">{{i}}</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Desa / Kelurahan</label>
                            @*<input type="text" class="form-control" placeholder="pilih desa / kelurahan" value="">*@
                            <select class="form-control" ng-model="selectedDesa">
                                <option value="" selected disabled>pilih desa / kelurahan</option>
                                <option ng-repeat="i in listDesa" value="{{i}}">{{i}}</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Alamat Email</label>
                            <input type="text" class="form-control" placeholder="masukkan alamat email" ng-model="emailPengguna">
                        </div>
@*                        <div class="col-md-12">
                            <label class="labels">Jenjang</label>
                            <input type="text" class="form-control" placeholder="pilih jenjang pendidikan" value="">
                        </div>*@
                    </div>
@*                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Country</label>
                            <input type="text" class="form-control" placeholder="country" value="">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">State/Region</label>
                            <input type="text" class="form-control" value="" placeholder="state">
                        </div>
                    </div>*@
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="button">Save Profile</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>