.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.grade-redirector{
    color: black;
    text-decoration: none;
}

.grade-redirector:hover{
    color: blue;
    opacity: 0.5;
}
